.body-style{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: rgba(116,114,192,1);
background: -moz-linear-gradient(-45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(116,114,192,1)), color-stop(28%, rgba(116,114,192,1)), color-stop(62%, rgba(89,83,178,1)), color-stop(86%, rgba(89,83,178,1)));
background: -webkit-linear-gradient(-45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -o-linear-gradient(-45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -ms-linear-gradient(-45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: linear-gradient(135deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7472c0', endColorstr='#5953b2', GradientType=1 );
}



#overlay {
    position: fixed; /* Fija la posición del overlay en relación con la ventana del navegador */
    top: 0; /* Empieza desde la parte superior */
    left: 0; /* Empieza desde el lado izquierdo */
    width: 100%; /* Cubre el 100% del ancho */
    height: 100%; /* Cubre el 100% de la altura */
    background-color: rgba(0, 0, 0, 0.644); /* Color de fondo negro con opacidad del 70% */
    z-index: 100; /* Un valor de z-index alto para estar por encima de todo */
    display: none; /* Inicialmente oculto */
}



.navbar{
    background-color: rgb(41, 39, 39);
    font-family:monospace;
}


.main-container{
    background: rgba(116,114,192,1);
background: -moz-linear-gradient(45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(116,114,192,1)), color-stop(28%, rgba(116,114,192,1)), color-stop(62%, rgba(89,83,178,1)), color-stop(86%, rgba(89,83,178,1)));
background: -webkit-linear-gradient(45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -o-linear-gradient(45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: -ms-linear-gradient(45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
background: linear-gradient(45deg, rgba(116,114,192,1) 0%, rgba(116,114,192,1) 28%, rgba(89,83,178,1) 62%, rgba(89,83,178,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7472c0', endColorstr='#5953b2', GradientType=1 );
    width: 100%;
    padding: 1%;
    margin-top: 3%;
    height: 82vh;
    border-radius: 90px 90px 90px 90px;
    -moz-border-radius: 90px 90px 90px 90px;
    -webkit-border-radius: 90px 90px 90px 90px;
    border: 1px solid #000000;
    -webkit-box-shadow: 3px 10px 125px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 125px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 125px -4px rgba(0,0,0,0.75);

}

.card{
   
    margin-bottom: 10%;
    margin-left: 6%;
    margin-right: 6%;
    transition: border 0.6s ease; 
}
#contacto-card,#sobremi-card,#habilidades-card,#educacion-card, #experiencia-card,#proyectos-card{
    transition: transform 0.6s ease;
    
    
}
.card-style{

background: rgba(255,245,107,1);
background: -moz-linear-gradient(-45deg, rgba(255,245,107,1) 0%, rgba(255,245,107,1) 32%, rgba(255,190,87,1) 65%, rgba(255,190,87,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,245,107,1)), color-stop(32%, rgba(255,245,107,1)), color-stop(65%, rgba(255,190,87,1)), color-stop(100%, rgba(255,190,87,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,245,107,1) 0%, rgba(255,245,107,1) 32%, rgba(255,190,87,1) 65%, rgba(255,190,87,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,245,107,1) 0%, rgba(255,245,107,1) 32%, rgba(255,190,87,1) 65%, rgba(255,190,87,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,245,107,1) 0%, rgba(255,245,107,1) 32%, rgba(255,190,87,1) 65%, rgba(255,190,87,1) 100%);
background: linear-gradient(135deg, rgba(255,245,107,1) 0%, rgba(255,245,107,1) 32%, rgba(255,190,87,1) 65%, rgba(255,190,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff56b', endColorstr='#ffbe57', GradientType=1 );
text-align: center;
padding-bottom: 1%;
padding-top: 1%;
border-radius: 21px 21px 21px 21px;
-moz-border-radius: 21px 21px 21px 21px;
-webkit-border-radius: 21px 21px 21px 21px;

}


.container-card{
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:5%;
    background-color:  rgb(41, 39, 39);
}


.icon-font {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Estilo del popup (oculto por defecto) */
.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    left: 35%;
    top: 10%;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el popup esté encima del contenido */
}
@media(max-width:767px){
    .popup-mobile{
        left: 0%;
    }
}

#experiencia-card-e{
    height: 97%;
    top: 2%;
}


/* Estilo del contenido del popup */
.popup-content {
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 18%;
    text-align: center;
    position: relative;
}

